/*-Footer Menu-*/
#footer-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 98;
  background-color: rgba(249, 249, 249, 0.98);
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.06);
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#footer-bar a {
  color: #1f1f1f;
  padding-top: 12px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#footer-bar a span {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-top: -6px;
  opacity: 0.7;
  font-family: "Poppins", sans-serif !important;
}

#footer-bar a svg {
  margin-top: -8px;
}

#footer-bar a i {
  margin-top: -3px;
  font-size: 18px;
  position: relative;
  z-index: 2;
}

#footer-bar .badge {
  font-style: normal;
  z-index: 5;
  top: 0px;
  position: absolute;
  margin-left: 3px;
  color: #FFF !important;
  width: 18px;
  text-align: center;
  line-height: 18px;
  padding: 0px;
  padding-left: 0px !important;
  border-radius: 18px;
  margin-top: 7px;
  font-size: 11px;
}

.footer-bar-5 .active-nav strong {
  position: absolute;
  width: 50px;
  height: 4px;
  border-radius: 60px;
  left: 50%;
  bottom: 0px;
  bottom: calc(0px + (constant(safe-area-inset-bottom))*1.1);
  bottom: calc(0px + (env(safe-area-inset-bottom))*1.1);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer-menu-hidden {
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
}

/*Page Stucture Settings*/
#page {
  position: relative;
  overflow-x: hidden !important;
}

.page-content {
  overflow-x: hidden !important;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 90;
  padding-bottom: 80px;
  padding-bottom: calc(80px + (constant(safe-area-inset-bottom))*1.1);
  padding-bottom: calc(80px + (env(safe-area-inset-bottom))*1.1);
}

.ad-scroll-over {
  background-size: cover;
  top: 200px;
  right: 0px;
  bottom: 200px;
  left: 0px;
  position: fixed;
  z-index: -1;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}

.ad-scroll-over-clear {
  pointer-events: none !important;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}

.content-box {
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
}

/*Content Boxes*/
.content {
  margin: 20px 15px 20px 15px;
}

.content p:last-child {
  margin-bottom: 0px;
}

.content-full {
  margin: 0px;
}

.content-boxed {
  padding: 20px 15px 0px 15px;
}

/*Typography Settings*/
body {
  font-size: 13px;
  font-family: "Poppins", sans-serif !important;
  line-height: 26px !important;
  color: #6c6c6c !important;
  background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #1f1f1f;
  font-family: "Poppins", sans-serif !important;
  margin-bottom: 5px;
  letter-spacing: -0.4px;
}

h1 {
  font-size: 24px !important;
  line-height: 30px;
}

h2 {
  font-size: 22px !important;
  line-height: 25px;
}

h3 {
  font-size: 20px !important;
  line-height: 24px;
}

h4 {
  font-size: 18px !important;
  line-height: 23px;
}

h5 {
  font-size: 16px !important;
  line-height: 22px;
}

h6 {
  font-size: 14px !important;
  line-height: 20px;
}

a {
  text-decoration: none !important;
}

p {
  color: #6c6c6c;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

/*Sticky Utility / Secondary Classes*/
/*Rounded Borders*/
.rounded-0 {
  border-radius: 0px !important;
}

.rounded-xs {
  border-radius: 5px !important;
}

.rounded-s {
  border-radius: 8px !important;
}

.rounded-sm {
  border-radius: 10px !important;
}

.rounded-m {
  border-radius: 15px !important;
}

.rounded-l {
  border-radius: 30px !important;
}

.rounded-xl {
  border-radius: 50px !important;
}

/*Shadows*/
.shadow-none {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.shadow-0 {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.shadow-xs {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.04) !important;
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.04) !important;
}

.shadow-s {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.shadow-m {
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08) !important;
}

.shadow-l {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.09) !important;
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.09) !important;
}

.shadow-xl {
  -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
}

/*Line Height Control*/
.line-height-xs {
  line-height: 14px !important;
}

.line-height-s {
  line-height: 17px !important;
}

.line-height-m {
  line-height: 24px !important;
}

.line-height-l {
  line-height: 26px !important;
}

.line-height-xl {
  line-height: 37px !important;
}

/*Text Shadow*/
.text-shadow-s {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.text-shadow-l {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

/*Boxed Text*/
.boxed-text-xl, .boxed-text-l, .boxed-text-m, .boxed-text-s {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.boxed-text-xl {
  width: 90%;
  max-width: 340px;
}

.boxed-text-l {
  width: 85%;
  max-width: 300px;
}

.boxed-text-m {
  width: 80%;
  max-width: 300px;
}

.boxed-text-s {
  width: 70%;
  max-width: 260px;
}

/*Font Weights*/
.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

/*Opacity Values - Used for Contrasting Text, example opacity-30 will make the opacity 0.3*/
.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-95 {
  opacity: 0.95;
}

/*Font Array - Better Typography Control, example font-30 class will make the font size 30px*/
.font-8 {
  font-size: 8px !important;
}

.font-9 {
  font-size: 9px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-27 {
  font-size: 27px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-29 {
  font-size: 29px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-31 {
  font-size: 31px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-33 {
  font-size: 33px !important;
}

.font-34 {
  font-size: 34px !important;
}

.font-35 {
  font-size: 35px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-37 {
  font-size: 37px !important;
}

.font-38 {
  font-size: 38px !important;
}

.font-39 {
  font-size: 39px !important;
}

.font-40 {
  font-size: 40px !important;
}

/*Scaling Animation*/
@-webkit-keyframes scale-animation {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes scale-animation {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.scale-box {
  -webkit-animation: scale-animation 1.5s;
          animation: scale-animation 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scale-icon {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes scale-icon {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.scale-icon {
  -webkit-animation: scale-icon 1.5s;
          animation: scale-icon 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/*Control Classes*/
::-webkit-scrollbar {
  display: none;
}

img.mx-auto {
  display: block;
}

.disabled {
  display: none !important;
}

.no-click {
  pointer-events: none !important;
}

.no-outline {
  outline: none !important;
}

.float-left {
  float: left;
}

.trip-km {
  position: fixed;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px !important;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  line-height: 100px;
  background-color: #8CC152;
  color: #FFFFFF;
}

.trip-km-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.bottom-sheet {
  height: 90vh;
  z-index: 35;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px !important;
  -webkit-box-shadow: -2px -15px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -15px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.bottom-sheet .capsule {
  width: 25px;
  height: 5px;
  border-radius: 30%;
  background-color: #e2e2e2;
  margin: auto;
  margin-top: 10px;
}

.half-screen {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  pointer-events: unset;
  visibility: visible;
  overflow: scroll;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.hide-card {
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.end-trip {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 77;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  padding: 30px;
}

.end-trip-hidden {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

/*Accordion Settings*/
.accordion-item {
  border-left: 0px solid white;
  border-right: 0px solid white;
}

.accordion-item .btn:first-child {
  width: 100%;
}

.accordion-item .card {
  -webkit-transition: all 0ms ease !important;
  transition: all 0ms ease !important;
}

.accordion-item button {
  -webkit-transition: all 0ms ease !important;
  transition: all 0ms ease !important;
}

.accordion-item [data-card-height] button {
  width: 100%;
}

.btn.accordion-btn {
  text-align: left !important;
  padding: 15px 17px;
  font-size: 13px;
  font-weight: 700;
}

.accordion-icon {
  float: right;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  margin-top: 5px;
}

.accordion-button:not(.collapsed) {
  background-color: #FFF;
  color: #000;
  outline: 0;
}

.accordion-button:not(.collapsed) ~ .accordion-item {
  border-bottom: 0px solid white;
}

ul {
  list-style: none;
}

li {
  position: relative;
  padding: 10px;
}

li:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #898989;
  background-color: #FFF;
  position: absolute;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  z-index: 5;
}

li:not(:last-child):after {
  content: "";
  width: 2px;
  height: 100%;
  background: #898989;
  position: absolute;
  left: -8px;
  top: 50%;
}

/*Buttons*/
.btn {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn:hover {
  opacity: 0.9;
}

.btn-full {
  display: block;
}

.btn-xxs, .btn-xs, .btn-s, .btn-sm, .btn-m, .btn-l {
  font-size: 12px !important;
}

.btn-xxs {
  padding: 6px 10px !important;
}

.btn-xs {
  padding: 7px 14px !important;
}

.btn-s {
  padding: 8px 18px !important;
}

.btn-sm {
  padding: 10px 18px !important;
}

.btn-m {
  padding: 12px 20px !important;
}

.btn-l {
  padding: 14px 26px !important;
}

.btn-xl {
  padding: 15px 30px !important;
  font-size: 15px !important;
}

.btn-xxl {
  padding: 17px 34px !important;
  font-size: 17px !important;
}

.btn-uppercase {
  text-transform: uppercase;
}

.btn-center-xs {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.btn-center-s {
  width: 120px;
  margin: 0 auto;
  display: block;
}

.btn-center-m {
  width: 160px;
  margin: 0 auto;
  display: block;
}

.btn-center-l {
  width: 220px;
  margin: 0 auto;
  display: block;
}

.btn-center-xl {
  width: 250px;
  margin: 0 auto;
  display: block;
}

.btn.bg-highlight {
  color: #FFF;
}

.btn-3d {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  border: none;
  border-bottom: solid 4px;
}

.btn-3d:hover {
  border-width: 2px !important;
}

.btn:focus {
  outline: none !important;
}

.btn-margins {
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 30px;
}

.under-slider-btn {
  z-index: 50;
  position: relative;
  margin-top: -20px;
}

.btn-icon:hover {
  color: #FFF;
}

.btn-icon {
  padding-left: 50px !important;
  overflow: hidden;
  position: relative;
}

.btn-border {
  border-style: solid !important;
  border-width: 1px !important;
}

.btn-icon i {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 43px;
  width: 40px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.back {
  color: #1f1f1f;
}

.btn-login {
  background-color: #576464;
}

.messages-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 300;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0%;
}

.chatbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  -webkit-transform: translatex(200%);
          transform: translatex(200%);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  opacity: 0%;
}

.none {
  display: none;
}

.show-messages {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 100%;
}

.chat-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 100%;
}

.user {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.us-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  margin-left: 5px;
  margin-right: 20px;
}

.chat_area {
  float: left;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.chat_area li {
  padding: 14px 14px 0;
}

.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}

.chat_area .chat-body1 {
  margin-left: 50px;
}

.chat-body1 p {
  background: #4AACAC none repeat scroll 0 0;
  color: #fff;
  padding: 10px;
}

.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}

.chat_area .admin_chat .chat-body1 p {
  background: #fff;
  color: #000;
}

.chat_area li:last-child {
  padding-bottom: 10px;
}

.reply {
  height: 60px;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin-bottom: 15px !important;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.reply-emojis {
  padding: 5px !important;
}

.reply-emojis i {
  text-align: center;
  padding: 5px 5px 5px 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-recording {
  padding: 5px !important;
}

.reply-recording i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-send {
  padding: 5px !important;
}

.reply-send i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-main {
  padding: 2px 5px !important;
}

.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login-wrapper {
  background-image: url(/img/bgsplash.svg);
  background-size: 300%;
  background-position-x: 0%;
  -webkit-animation: bgscroll 50000ms infinite alternate ease;
          animation: bgscroll 50000ms infinite alternate ease;
  width: 100vw;
  height: 100vh;
}

.login-wrapper .logo {
  margin-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrapper .logo .logo-text {
  color: #FFF;
  font-size: 3.5rem !important;
  -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.splash-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(83, 83, 83, 0.226);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#03af7ebb), to(#4AACAC));
  background-image: linear-gradient(#03af7ebb, #4AACAC);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content {
  position: relative;
  bottom: 0cm;
  width: 90vw;
  height: 65vh;
  z-index: 10;
  padding: 2rem 2rem;
}

.login-content .log-title {
  font-size: 2.5rem !important;
}

.group {
  position: relative;
}

.group:not(:last-child) {
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border: .5px solid #757575;
  border-radius: 5px;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4AACAC;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4AACAC;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-webkit-keyframes bgscroll {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes bgscroll {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.signup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

body {
  overflow: hidden;
}

.map-full {
  position: relative;
  overflow: hidden;
}

.map-full iframe {
  position: relative;
  width: 100vw;
  height: 85vh;
  z-index: 1;
}

.card-style {
  overflow: hidden;
  margin: 20px 0px 30px 0px;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.card-style .card-body {
  padding: 15px;
}

.img-circle {
  border-radius: 50%;
}

.avatar {
  height: 50px;
  width: 50px;
  right: 10px;
  top: 20px;
  position: absolute;
}

.main-cont {
  height: 100vh !important;
  overflow: hidden !important;
}
